<!DOCTYPE html>
<html>
    <head>
        <title>OSBB Website</title>
    </head>
    <body>
        <div>
            <h1><a href="">Сторінка ОСББ</a></h1>
        </div>

        <div>
            <p>опубліковано: 27.06.2018, 20:07</p>
            <h2><a href="">Перший запис</a></h2>
            <p>Об'є́днання співвла́сників багатокварти́рного буди́нку, або ОСББ — (юридична особа, створена для представлення спільних інтересів співвласників) це неприбуткова юридична особа, створена власниками квартир та/або нежитлових приміщень багатоквартирного будинку для спільного користування, утримання та управління своїм будинком та прибудинковою територією, а також для юридичного оформлення їхніх майнових прав на будинок та прибудинкову територію.</p>
        </div>

        <div>
            <p>опубліковано: 27.06.2018, 20:07</p>
            <h2><a href="">Другий запис</a></h2>
            <p>Згідно норм Закону України «Про особливості здійснення права власності у багатоквартирному будинку», ОСББ є однією із форм управління багатоквартирним будинком. Створення та діяльність ОСББ регулюються нормами Закону України «Про об'єднання співвласників багатоквартирного будинку».</p>
        </div>
    </body>
</html>