{% extends 'blog/base.html' %}

{% block content %}
	
	{% for post in posts %}
		<div class="row">
		<div class="post">
			<div class="date">
			</div>
			
			
		</div>
			<div class="col-sm-18 col-sm-offset-3">
				{% if obj.image %}
				<img src="{{ obj.image.url }}" class="img-responsive"/>
				{% endif %}
					<div class="caption">
					<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					<p>{{ post.text|linebreaksbr|truncatechars:500 }}</p>
					<p><small>опубліковано: {{ post.published_date }}</small></p>
					<p><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary" role="button">Переглянути</a>
				</div>
			</div>
		</div>
		
	{% endfor %}
		<div class="col-sm-18 col-sm-offset-3">
			<div class="pagination">
				<span class="step-links">
					{% if posts.has_previous %}
						<a href="?page=1">&laquo; Перша</a>
						<a href="?page={{ posts.previous_page_number }}">Попередня</a>
					{% endif %}

					<span class="current">
						Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
					</span>

					{% if posts.has_next %}
						<a href="?page={{ posts.next_page_number }}">Наступна</a>
						<a href="?page={{ posts.paginator.num_pages }}">Остання &raquo;</a>
					{% endif %}
				</span>
			</div>
		</div>

{% endblock %}